@model IEnumerable<MTGCore.Dtos.CardsDto.card>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manaCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cmc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.set)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.multiverseid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.power)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.toughness)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manaCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cmc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.set)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.multiverseid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.toughness)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id=item.multiverseid})
            </td>
        </tr>
}
    </tbody>
</table>
